
.nav-container{
    width: 100%;
    height: 60px;
    background-color: rgb(41, 39, 39);


}
.nav-container nav{
    margin-right: 90px;
}

.nav-container nav a{
    
    float:right;
    color: white;
    text-decoration: none;
    padding:15px;
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (max-width:540px) {
    .nav-container{
        width: 100%;
        height: 250px;
    
        
    
    }
    .nav-container nav{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
}

    


